* {box-sizing: border-box}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("yllkabg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  scroll-behavior: smooth;
  
  
  
}



.tablink {
  background-color: rgba(221, 242, 253, 0.71);
  color: rgb(255, 255, 255);
  float: right;
  margin: 15px;
  padding: 10px;
  border: 2px;
  outline: none;
  cursor: pointer;
  padding: 10px 11px;
  font-size: 17px;
  width: 10%;
}

.tablink:hover {
  background-color: rgba(46, 64, 125, 0.71)
}


.tabcontent {
  color: rgb(249, 249, 249);
  display: none;
  padding: 100px 20px;
  height: 100%;
}




